[submodule "docs"]
	path = docs
	url = https://github.com/max2star/ragforge-docs.git
[submodule "web"]
	path = web
	url = https://github.com/max2star/ragforge-webconsole.git
[submodule "ragforge-shell"]
	path = ragforge-shell
	url = https://github.com/max2star/ragforge-shell.git
